extends layout

block content
  h1 #{title}
  p I'm over the moon!
  img(src="https://docs.microsoft.com/learn/media/crescent-timeline.png", alt="Moon Photo", srcset="")
  img(src="https://docs.microsoft.com/learn/media/Moon-full-minus1.png ", alt="", srcset="")
